@import url('https://fonts.googleapis.com/css?family=Righteous');

.App {
  background-image: url("pastel.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;  
}

/* Homepage component */

h1{
  margin-top: 70px;
  font-family: Righteous;
  font-size: 50px;
}

/* button CSS for all of them */
.button{
  text-align: center;
  margin:10px;
  padding:20px;
  background-color: #fee6e3;
  border-radius: 8px;
  color: #111;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 9px #999;
}

.button:active {
  background-color: #ffdeda;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover {
  background-color: #ffdeda;
  outline: 0;
}

.section{
  width:100%;
  margin-top: 15vh;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* All StoriesPage components */
.storiespage{
  display: flex;
  flex-direction: column;
  background-color: #faf2f1;
  height: 200vh;
}

.storycontainer{
  margin-top:10vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  
}

.card{
  margin-bottom: 100px;
}

.allstoriespage{
  display: flex;
  flex-direction: column;
  margin: 20px;
  width:100%;
  height: 300vh;
}

.allstorycontainer{
  margin-top:10vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  
}

.buttonRead{
  text-align: center;
  padding:10px;
  background-color: #fee6e3;
  border-radius: 8px;
  color: #111;
  font-size: 16px;
  text-decoration: none;
  }


/* Story component */

.storyPage{
 background-color:whitesmoke;
}

.storydiv{
  margin-top:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: auto;
}

.button-storypage{
  margin: 40px 0 ;
  text-align: center;
  padding:20px;
  background-color: #fee6e3;
  border-radius: 8px;
  color: #111;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 9px #999;
  }

.iconfav{
  font-size: 2.5em;
}

/* text to speech CSS in Story component */
.tts {
  border: 2px solid black;
  border-radius: 50px;;
  margin-top: 6vh;
  padding-left :15px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.tts-react{
  display: grid;
  text-align: justify;
  margin: 20px;
}

.story-text{
  max-width: 1000px;
  margin: 0 25px;
  padding: 1rem;
  line-height: 1.5;
  font-size: 22px;
  font-family: Arial, sans-serif;
}


.definitionBox{
  width: 350px;
  border: 5px solid #b1f1ee;
  padding: 80px 0px;
  margin: 30px 0px auto 800px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: absolute;
  color: #00bfb6;
  bottom: 450px;
  right:300px
}

.definitionBox h4::after {
  content: ""; /* Empty content */
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.circle1 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 28px;
  padding: 20px;
  border-radius: 50%;
  left: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 28px;
  padding: 20px 25px;
  border-radius: 50%;
  left: 0px;
  bottom: 0px;
}

.circle2 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}
/* Favorite Component */

.favoritetable  {
  display: flex;
  margin: 10vh;
  width: 100vh;

}

.buttonFav{
  margin: 30px 0 ;
  text-align: center;
  padding:10px;
  background-color: #fee6e3;
  border-radius: 8px;
  color: #111;
  font-size: 16px;
  text-decoration: none;
  }

.buttonFav:hover {
    background-color: #ffdeda;
    outline: 0;
  }
  
.table{
  border-collapse:separate;
  border:solid #87C7f1 1px;
  border-radius:10px;
}

th,td{
  border: 2px solid #87C7f1;;
  padding: 1vh;
}

tr:hover {
  background-color: #eacfff;
}


/* Easy Alphabet component */
.alpha{
  width:100%;
}

.letter {
width: 60%;
margin: 5% 20%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.a, .f , .k, .p, .u, .z { background-color: #AAE9E5; }
.b, .g ,.l, .q, .v { background-color: #87C7f1; }
.c,.h,.m,.r,.w { background-color: #feb7d3; }
.d,.i,.n,.s,.x{ background-color: #ffeda9; }
.e,.j,.t,.o,.y { background-color: #eacfff ;}

.letter button{
  border:2px solid black;
  border-radius: 15%;
  margin: 5px;
  width: 80px;
  height: 80px;
  padding: 10px;
  font-size:20px;
  font-weight: bold;
}

.letterBox{
  border:2px solid black;
  background-color: rgba(118, 215, 183, 0.567);
  margin: 3%;
  border-radius: 5%;
  width: 700px;
  height: 250px;
}

.letterInside{
  display: flex;
  flex-direction: column;
}

.hideMark {
  background-color: transparent;
  color: transparent;
  display: inline;
}

/* LinksComponent */
.LinksSongs{
display: flex;
}

.Links{
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  padding: 40px;
  width: 250px;
  height: 250px;
  border: 5px solid  #AAE9E5;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  color:  #feb7d3;
}

.Links:hover {
  background-color: #eacfff;
}
